.btn-interactive {
    cursor: pointer;
    background-color: transparent; /* Color inicial */
    transition: background-color 0.3s ease; /* Transición suave */
}

.btn-interactive:active {
    background-color: #007bff; /* Cambia al color deseado */
    color: white; /* Opcional: Cambia también el color del texto o icono */
}



.btn-interactive:hover {
    background-color: #f0f0f0; /* Color al pasar el mouse */
}

.btn-interactive:active {
    background-color: #007bff; /* Color al hacer clic */
    color: white;
}

.btn-cursor {
    cursor: pointer;
}
