# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de entorno
.env
.env.*

# Directorios de dependencias
/vendor/
/node_modules/

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos de caché
*.cache
*.log 